@import "tailwindcss";

.button {
  @apply mt-3 rounded-md bg-slate-300 px-3 py-2 text-sm font-medium text-black transition hover:bg-slate-700;
}


.task {
  @apply border-2 border-red-400 mb-4 rounded-lg p-4 bg-red-50;
}
.task-completed {
  @apply border-2 border-green-400 mb-4 rounded-lg p-4 bg-green-50;
}

.task-in-progress {
  @apply border-2 border-yellow-200 mb-4 rounded-lg p-4 bg-yellow-50;
}